{% extends "_layout.html" %}

{% block pageheader %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h4><i class="fa fa-moon-o"></i> moon help</h4>
                <p class="lead"><em>please return your testnet tokens when you are finished using them.</em></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-12">
            require assistance with this service?
            use the help pages.
        </div>
    </div>
{% endblock %}