{% block navbar %}
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="{{ url_for('faucet.index') }}" class="navbar-brand"><i class="fa fa-moon-o"></i> moon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="">
                    <a class="nav-link {% if 'faucet' in request.path %}active{% endif %}" href="{{ url_for('faucet.index') }}"><i class="fa fa-rocket"></i> faucet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('faucet.rpc_server', path='getblockchaininfo') }}"><i class="fa fa-server"></i> rpc</a>
                </li>
                <li class="">
                    <a class="nav-link" href="{{ url_for('frontend.about') }}"><i class="fa fa-certificate"></i> about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('frontend.donate') }}"><i class="fa fa-btc"></i> donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('frontend.help') }}"><i class="fa fa-question-circle"></i> help</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="networks"><i class="fa fa-signal"></i> testnet <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="networks">
                        <a class="dropdown-item" href="#"><i class="fa fa-th-list"></i> mainnet</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-list"></i> staging</a>
                        <a class="dropdown-item" href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i> login</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}